.form-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    margin-top:  100px;
  }
  
  .form-label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-input,
  .form-textarea,
  .form-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  .form-textarea {
    resize: vertical;
  }
  
  .form-select {
    background-color: #fff;
  }
  
  .form-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  